.tblShow{width:90%;border:0; background:white;border-spacing: 0px;}
.tblShow > thead{background:blue;}
.tblShow > thead>tr>th{color:white;}
.tblShow > tbody>tr:nth-child(2n){background:white;}
.tblShow > tbody>tr:nth-child(2n+1){background:#e5e9ff;}